<!-- <div>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
</div> -->

<!-- <div>
  <table>
    <tr *ngFor="let photo of photos">
        <td>
        <img src = "{{photo.url}}" style="width:200px;height:200px;overflow: auto;">
        </td>
       <!--  //<h4>{{photo.url}}</h4> 
    </tr>
    </table>
</div> -->

<div>

  <table mat-table [dataSource]="photos">
    <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef> Image Url </th>
        <td mat-cell *matCellDef="let photo"> {{photo}} </td>
    </ng-container> 
    
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 <!--  modify this code -->
</div>
